 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 80px 120px;
}

h1 {
  text-align: center;
  margin-bottom: 24px;
}

.container-imagem {
  display: flex;
  justify-content: center;
}

.container-imagem img {
  border: 3px solid black;
  border-radius: 15px;
  margin-bottom: 40px;
}

.container-tempo {
  display: flex;
  gap: 20px;
  justify-content: center;
  list-style: none;
  margin-bottom: 40px;
}

.container-tempo li {
  background-color: #c1c1c1;
  padding: 15px;
  width: fit-content;
  border-radius: 8px;
}

p {
  text-align: justify;
  margin-bottom: 40px;
}

.container-ingredientes li {
  background-color: #c1c1c1;
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 30px;
  padding: 10px;
  gap: 12px;
  font-weight: bold;
}

.container-ingredientes li div {
  background-color: red;
}

a {
  text-decoration: none;
  color: white;
  width: fit-content;
  background-color: yellow;
  padding: 20px 50px;
  border-radius: 10px;
  font-weight: bold;
  .margin-top: 50px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0,3);
}